/* /Pages/Bowling.razor.rz.scp.css */
header[b-0h388kzqmp] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 60px;
    font-size: 40px;
    font-weight: bold;
    background-color: black;
    color: white;
    text-align: center;
}
.title[b-0h388kzqmp]{
    text-align: center;
    margin-top: 50px;
}

.scoreboard[b-0h388kzqmp]{
    justify-content: center;
    display: flex;
}

table[b-0h388kzqmp] {
    border: solid black 1px;
    margin: 15px;
}


table tr td[b-0h388kzqmp] {
    border-right: 1px solid black;
    color: black;
    font-size: 25px;
    padding: 20px;
    width: 40%;
}

.userInput[b-0h388kzqmp] {
    justify-content: center;
    display: flex;
}

button[b-0h388kzqmp]{
    margin-left: 5px;
    width: 45px;
    height: 45px;
    vertical-align: middle;
}

.message[b-0h388kzqmp] {
    justify-content: center;
    display: flex;
    margin-top: 15px;
    color: red;
}

.reset[b-0h388kzqmp] {
    justify-content: center;
    display: flex;
    margin-top: 15px;
}

.rollButtons[b-0h388kzqmp]{
    background-color: forestgreen;
}

.resetButton[b-0h388kzqmp]{
    width: 70px;
    height: 50px;
    background-color: darkred;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-f1k58r5hwb] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-f1k58r5hwb] {
    flex: 1;
}

.sidebar[b-f1k58r5hwb] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-f1k58r5hwb] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-f1k58r5hwb]  a, .top-row[b-f1k58r5hwb]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-f1k58r5hwb]  a:hover, .top-row[b-f1k58r5hwb]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-f1k58r5hwb]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-f1k58r5hwb] {
        display: none;
    }

    .top-row.auth[b-f1k58r5hwb] {
        justify-content: space-between;
    }

    .top-row[b-f1k58r5hwb]  a, .top-row[b-f1k58r5hwb]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-f1k58r5hwb] {
        flex-direction: row;
    }

    .sidebar[b-f1k58r5hwb] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-f1k58r5hwb] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-f1k58r5hwb]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-f1k58r5hwb], article[b-f1k58r5hwb] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
